body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    max-width: 600px;
    margin: 20px auto;
    padding: 0;
    list-style: none;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li.done {
    background-color: #d4edda;
    text-decoration: line-through;
}

/* Styles pour le message d'erreur */
.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin: 10px auto; /* Ajout de marges automatiques pour centrer horizontalement */
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    width: fit-content; /* Ajuste la largeur en fonction du contenu */
    text-align: center; /* Centre le texte à l'intérieur du message */
}
